extract/Universal Document Parser.dmg
extract/test/userPreferences.*
extract/build/*
extract/Universal Document Parser.xcodeproj/xcuserdata/*
extract/Universal Document Parser.xcodeproj/project.xcworkspace/*
extract/test/Project/Trash/*
extract/Universal Document Parser.xcodeproj/xcshareddata/*
extract/test/Project/DerivedData/*
extract/test/Data/Replaced Files*
extract/test/Data/Logs/*
extract/test/Data/data.journal
extract/test/data\[0001\].4BK
extract/test/backupHistory.json
extract/test/data\[0002\].4BK
extract/test/Plugins/Universal Document Parser.bundle/Contents/Windows64/Universal Document Parser.exp
extract/test/Plugins/Universal Document Parser.bundle/Contents/Windows64/Universal Document Parser.lib
extract/Objs/*
extract/.vs/*
